body {
    background: url(../images/tic-tac-toe.png);
    font-family: 'Cutive Mono', monospace;
}
h1 {
    font-family: 'Major Mono Display', monospace;
    font-weight: 700;
    font-size: 5rem;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    color: #0275d8;
}
.card {
    width: 98%;
    margin: 1%;
}

.card-img-top {
    object-fit: cover;
}
#topicSelect {
    min-width: 150px;
}
@media (min-width: 768px) {
    .card {
        width: 48%;
        float: left;
    }
}
@media (min-width: 992px) {
    .card {
        width: 23%;
        float: left;
    }
}